ion-item {
    --border-color: var(--ion-color-step-600)
}

.mo-auth__layout {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1e1e1e;
    z-index: 15;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;

    ion-list {
        width: 90%;

        .auth__btn {
            width: 100%;
        }
    }
}