<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href=""></ion-back-button>
    </ion-buttons>
    <ion-title>Заказы</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title size="large">Заказы</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-list>
          <ion-item *ngIf="draftOrder">
            <ion-label>
              <h2>Черновик</h2>
              <p>{{ draftOrder.sum ? draftOrder.sum : 0}}смн</p>
            </ion-label>
            <ion-nav-link routerLink="order" [queryParams]="{id: 0}">
              <ion-fab-button slot="end" size="small" shape="round">
                <ion-icon name="arrow-forward-outline"></ion-icon>
              </ion-fab-button>
            </ion-nav-link>
          </ion-item>
          <ion-item *ngFor="let order of orders">
            <ion-label>
              <h2>{{ order.link }}</h2>
              <p>{{ order.sum }}смн</p>
            </ion-label>
            <ion-nav-link routerLink="order" [queryParams]="{id: order.id}">
              <ion-fab-button slot="end" size="small" shape="round">
                <ion-icon name="arrow-forward-outline"></ion-icon>
              </ion-fab-button>
            </ion-nav-link>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>    
  </ion-grid>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-nav-link routerLink="create-order">
      <ion-fab-button>
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-nav-link>
  </ion-fab>
</ion-content>
