<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
    <ion-title>Заказ №{{order.id}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="printOrder()">
        <ion-icon name="print-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-list>
          <ion-item>
            <ion-label>
              Дата
            </ion-label>
            <ion-label>
              {{ order.date | date: 'dd.MM.yyyy HH:mm' }}
            </ion-label>
          </ion-item>
          <ion-item lines="none">
            <ion-label>
              Клиент
            </ion-label>
            <ion-label>
              {{ order.client }}
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>

      <ion-col size="12">
        <h4 class="">Товары</h4>
      </ion-col>
      <ion-col size="12">
        <ion-list>
          <ion-item class="mo-prod__row" *ngFor="let product of order.products">
            <div class="mo-row__wrap">
              <ion-label class="mo-col">
                <h2>{{ product.title }}</h2>
                <p>{{ product.price }}смн x {{ product.packCount }}</p>
              </ion-label>
              <ion-label slot="end" class="ion-text-end mo-col">
                {{ product.price * product.packCount }}смн
              </ion-label>
            </div>
          </ion-item>
          <ion-item lines="none">
            <ion-label>
              <h2>Итого</h2>
            </ion-label>
            <ion-label slot="end" class="ion-text-end">
              {{ order.sum }}смн
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col size="12">
        <h4 class="">Комментарий</h4>
      </ion-col>
      <ion-col size="12">
        <ion-list>
          <ion-item>
            <ion-label>
              {{ order.comment }}
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col>
        <ion-button routerLink="/orders/edit" [queryParams]="{id: order.id}">
          <ion-icon slot="start" name="create-outline"></ion-icon>
          Изменить
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<pdf-viewer id="pdf" #pdf class="for-print" [src]="pdfUrl" [render-text]="true"></pdf-viewer>