<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
    <ion-title>Принтеры</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-list lines="full">
          <ion-item >
            <ion-button fill="clear" (click)="setShowPrinter(true)" color="success">Добавить принтер</ion-button></ion-item>
          <ion-item *ngFor="let printer of printerList">
            <ion-label slot="start">{{ printer.name }}</ion-label>
            <ion-icon (click)="deletePrinter(printer)" size="small" color="danger" name="trash-outline" slot="end"></ion-icon>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-modal [isOpen]="showPrinter">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="setShowPrinter(false)">Отмена</ion-button>
          </ion-buttons>
          <ion-title>Принтер {{ newPrinter.name }}</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="savePrinter()">Сохранить</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content >
        <ion-list lines="full">
          <ion-item>
            <ion-label position="floating">Имя</ion-label>
            <ion-input type="text" [(ngModel)]="newPrinter.name"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Хост</ion-label>
            <ion-input type="text" [(ngModel)]="newPrinter.host"></ion-input>
          </ion-item>
          <ion-item lines="none">
            <ion-label position="floating">Порт</ion-label>
            <ion-input [min]="80" type="text" [(ngModel)]="newPrinter.port"></ion-input>
          </ion-item>
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>