<ion-app>
  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>{{userAccount}}</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-menu-toggle>
      <ion-button (click)="exitAccount()" class="mo-exit__btn">
        <ion-icon slot="start" name="exit-outline"></ion-icon>
        Выход
      </ion-button>
      </ion-menu-toggle>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main-content"></ion-router-outlet>

  <div class="mo-global__loader__wrap" [ngClass]="{show: this.loaderSvr.showLoader }">
    <div class="loader"></div>
  </div>
</ion-app>
