<ion-footer [translucent]="true">
  <ion-toolbar>
    <ion-buttons class="mo-tab-nav">
      <ion-button routerLink="/home" routerLinkActive="ion-color ion-color-success">
        <div class="mo-btn-wrap">
          <ion-icon name="home" size="small"></ion-icon>
          <span>Главная</span>
        </div>
      </ion-button>
      <ion-button routerLink="/messenger" routerLinkActive="ion-color ion-color-success">
        <div class="mo-btn-wrap">
          <ion-icon name="chatbubble-ellipses" size="small"></ion-icon>
          <span>Чат</span>
        </div>
      </ion-button>
      <ion-button routerLink="/results" routerLinkActive="ion-color ion-color-success">
        <div class="mo-btn-wrap">
          <ion-icon name="bar-chart" size="small"></ion-icon>
          <span>Итоги</span>
        </div>
      </ion-button>
      <ion-button routerLink="/settings" routerLinkActive="ion-color ion-color-success">
        <div class="mo-btn-wrap">
          <ion-icon name="cog" size="small"></ion-icon>
          <span>Настройки</span>
        </div>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>