<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
    <ion-title>Ротация</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list lines="full">
    <ion-item button (click)="selectUser(user)" *ngFor="let user of userList">{{ user.name }}</ion-item>
  </ion-list>

  <ion-modal [isOpen]="showUserModal">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>{{selectedUser.name}}</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="confirmModal()" [strong]="true">Ok</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-list lines="full">
          <ion-item>
            <ion-select (ionChange)="handleRotationSelect($event)" label="Выбрать шаблон" label-placement="floating">
              <ion-select-option [value]="item.id" *ngFor="let item of rotationList">{{ item.name }}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
