/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

// Text Styling MO 
.mo-text__overline {
    text-decoration: line-through;
}

// Tab-bar styles
.mo-tab-nav {
    justify-content: space-evenly;
}

.mo-btn-wrap {
    display: block;
    text-align: center;

    & > * {
        display: block;
        margin: 0 auto;
    }

    ion-icon {
        margin-bottom: 5px;
    }

    span {
        text-transform: none;
        font-weight: normal;
        font-size: 11px;
    }
}


// ===== Pass Layout =====
@keyframes upDown {
    0% {
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
    }
    50% {
        transform: translateY(50%);
        -webkit-transform: translateY(50%);
        -moz-transform: translateY(50%);
        -ms-transform: translateY(50%);
        -o-transform: translateY(50%);
    }
    100% {
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
    }
}

.mo-passrequest__layout {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 15;
    background-color: var(--ion-background-color, #333);
}

.mo-row:not(.mo-prod__row) {
    padding: 60px 15px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: space-evenly;
}

.mo-logo {
    text-align: center;
}

.mo-heading {
    text-align: center;
    margin-bottom: 30px;
    width: 100%;
}

.mo-pass__dots {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.dot {
    width: 10px;
    height: 10px;
    background-color: var(--ion-color-step-650, #333);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-bottom: 30px;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;

    &.filled{
        background-color: var(--ion-color-success-shade, #000);
    }

    &.loading {
        animation: upDown .5s infinite;
        -webkit-animation: upDown .5s infinite;
        
        &:nth-child(2n) {
            animation-delay: .25s;
        }
    }
}

.mo-keys {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;

    .key {
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 30%;
        place-content: center;
        display: flex;
        margin-bottom: 30px;
    }    
}