ion-item {
    --border-color: var(--ion-color-step-600)
}

.mo-prod__row {

    &>.mo-col {
        display: block;
        width: 30%;
        margin-right: auto;
        margin-left: auto;

        &:first-child {
            width: 40%;
            margin-left: 0;
        }

        &:last-child {
            text-align: center;
            width: 20%;
            margin-right: 0;

            & ion-button {
                --padding-start: 0;
                --padding-end: 0
            }
        }
    }

    &.balance>.mo-col {
        &:first-child {
            border-right: 1px solid;
            padding-top: 15px;
            padding-bottom: 15px;
        }
    }


}

.mo-data__options {
    position: absolute;
    top: 80px;
    left: var(--padding-start);
    z-index: 10;
    width: calc(100% - var(--padding-start) - var(--padding-end));
    background: var(--ion-item-background, var(--ion-background-color, #fff));
    padding: 10px;
    -webkit-padding-start: var(--padding-start);
    padding-inline-start: var(--padding-start);
    -webkit-padding-end: var(--padding-end);
    padding-inline-end: var(--padding-end);
    box-shadow: 0 4px 4px 0px rgb(0 0 0 / 15%);

    &.f2 {
        top: 210px;
    }

    &.f3 {
        top: 240px;
    }

    &.f4 {
        top: 320px;
    }
    
    &.f5 {
        top: 400px;
    }

    .f6 {
        top: 480px;
    }
}

.mo-do__item {
    padding: 5px 0;
    border-bottom: 1px solid #333;
    cursor: pointer;

    &:last-child {
        border-bottom: none;
    }
}
