<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
    <ion-title>{{chat.title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content #content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-grid>
    <ion-row class="ion-padding">
      <ion-col size="12" class="mo-messages">
        <div class="mo-message__wrap" [ngClass]="{companion: !message.is_my, me: message.is_my}"
          *ngFor="let message of messages">
          <div class="mo-message__box">
            <p class="mo-message__sender" *ngIf="chat.type == 'Group'">{{ message.user }}</p>
            <img *ngIf="message.file && message.file_type?.indexOf('image') !== -1"
              [src]="message.file?.indexOf('data:') ? activeServer + '/static/'+ chat.id + '/' + message.file : message.file" alt="">
            <video class="mo-video-player" *ngIf="message.file && message.file_type?.indexOf('video') !== -1" controls>
              <source [src]="message.file?.indexOf('data:') ? activeServer + '/static/'+ chat.id + '/' + message.file : message.file" [type]="message.file_type">
            </video>
            <audio [src]="message.file?.indexOf('data:') ? activeServer + '/static/'+ chat.id + '/' + message.file : message.file"
              *ngIf="message.file && message.file_type?.indexOf('audio') !== -1" controls></audio>
            <a *ngIf="message.file && message.file_type?.indexOf('application') !== -1"
              [href]="message.file?.indexOf('data:') ? activeServer + '/static/'+ chat.id + '/' + message.file : message.file" [download]="message.file_name">{{
              message.file_name }}</a>
            <p class="mo-message__text">{{ message.text }}</p>
            <p class="mo-message__date">
              <span>{{ message.date | date: 'HH:mm' }}</span>
              <ion-icon *ngIf="message.is_my && message.status === 'Sending'" size="small" color="medium"
                name="time-outline"></ion-icon>
              <ion-icon *ngIf="message.is_my && message.status === 'Unreaded'" size="small" color="medium"
                name="checkmark"></ion-icon>
              <ion-icon *ngIf="message.is_my && message.status === 'Readed'" size="small" color="primary"
                name="checkmark-done"></ion-icon>
            </p>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <input class="none-visible" type="file" #file accept="image/*, video/*, audio/*, .doc, .docx, .pdf"
    (change)="onFileChange()" />
</ion-content>

<ion-footer [translucent]="true">
  <ion-toolbar *ngIf="message.file != ''">
    <ion-title>{{ message.file_name }}</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-item>
      <ion-input autofocus [(ngModel)]="message.text" placeholder="Сообщение" (keyup.enter)="sendMessage() ">
        <ion-button color="success" fill="clear" slot="start" (click)="selectFile()">
          <ion-icon slot="icon-only" name="document"></ion-icon>
        </ion-button>
        <ion-button (click)="sendMessage()" [disabled]="message.text === '' && message.file === ''" color="success" fill="clear" slot="end"
          aria-label="Show/hide">
          <ion-icon slot="icon-only" name="send"></ion-icon>
        </ion-button>
      </ion-input>

    </ion-item>
  </ion-toolbar>
</ion-footer>