<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Моби 1С
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Моби 1С</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-button expand="block" routerLink="/orders">
          <div class="mo-btn__content">
            <ion-icon slot="start" size="large" name="documents"></ion-icon>
            Заказы
          </div>
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button disabled expand="block" routerLink="/find-out/price">
          <div class="mo-btn__content">
            <ion-icon slot="start" size="large" name="cash"></ion-icon>
            Поступление
          </div>
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button disabled expand="block" routerLink="/move-orders">
          <div class="mo-btn__content">
            <ion-icon slot="start" size="large" name="send"></ion-icon>
            Перемещение
          </div>
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button disabled expand="block" routerLink="/return-orders">
          <div class="mo-btn__content">
            <ion-icon slot="start" size="large" name="arrow-undo"></ion-icon>
            Возврат
          </div>
        </ion-button>
      </ion-col>
      <ion-col size="12">
        <h2>Операции</h2>
      </ion-col>
      <ion-col size="12">
        <ion-button expand="block" routerLink="/find-out/price">
          <ion-icon slot="start" name="cash"></ion-icon>
          Узнать цену
        </ion-button>
      </ion-col>
      <ion-col size="12">
        <ion-button expand="block" routerLink="/find-out/balance">
          <ion-icon slot="start" name="layers"></ion-icon>
          Узнать остатки
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>